:root {
  background-color: rgb(135, 206, 235); /* sky blue */
}

/* Paragraphs inside article */
article p:first-child {
  background-color: black;
  color: white;
}

article p:nth-child(2) {
  color: black; /* normal */
}

article p:last-child {
  color: red;
}

/* List Items */
ul li {
  width: 50%;
  padding: 10px;
  background-color: gray;
}

/* Odd items white */
ul li:nth-child(odd) {
  background-color: white;
}

/* First and last item bigger font */
ul li:first-child,
ul li:last-child {
  font-size: 22px;
}

/* Third-to-last item pink */
ul li:nth-last-child(3) {
  background-color: pink;
}
